<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<style>
    @font-face {
        font-family: cake;
        src: url(../static/cake.otf);
    }
    #sticker{
        transform: rotate(-30deg);
        background-color: rgba(250, 250, 86, 0.978);
        width: 20%;
        margin-top: -5%;
    }
</style>
<body class="h-[100vh] ml-auto mr-auto bg-gradient-to-r from-sky-700 to-indigo-900 text-white text-center max-w-[720px] pt-4">
    <h1 class="font-black text-6xl"><x class="text-purple-300">Upload</x> <br> Your Text</h1>
    <div id="sticker" class="font-black text-purple-700 rounded-lg ml-auto mr-4">Easly</div>
    <div class='flex-col w-[90%] ml-auto mr-auto text-white text-left pb-1 mt-8 rounded-lg bg-white '>
        <div class="bg-gray-500 rounded-t text-left pl-3 font-black flex justify-between">
            <div>{{ title }}</div> 
            <img src="../static/copy.svg" class="max-w-[20px] p-0.5 cursor-pointer" id="copyBtn">
        </div>
        <h1 id="textToCopy" class="m-1 text-black font-[monospace]">
            {{ text }}
        </h1>
    </div>
    <script src="../static/tailwind.js"></script>
    <script>
        // Function to copy text to clipboard
        document.getElementById('copyBtn').addEventListener('click', function() {
            const text = document.getElementById('textToCopy').innerText;
            navigator.clipboard.writeText(text).then(() => {
                alert('Text copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        });
    </script>
</body>
</html>
